<div class="my-1 row">
    <label for="pw" class=" col-form-label">pw</label>
    <div class="">
        <input class="form-control" type="text" name="pw" id="pw" placeholder="현재 비밀번호">
    </div>
    <label for="newpw" class=" col-form-label">pw</label>
    <div class="">
        <input class="form-control" type="text" name="newpw" id="newpw" placeholder="변경 비밀번호">
    </div>
    <label for="newpwc" class=" col-form-label">newpwchk</label>
    <div class="">
        <input class="form-control" type="text" name="newpwc" id="newpwc" placeholder="변경 비밀번호 확인">
    </div>
    <button></button>
</div>
