@charset "UTF8";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: 'IBM Plex Sans KR', sans-serif;
}

/* 메인타이틀 */
.mainTitleSec{
    margin-top: 260px;
}
.mainTitleSec .mainTitle{
    color: #EFC900;
    font-size: 80px;
    font-weight: 700;
}
/* 메인텍스트 */
.mainTextSec{
    margin-top: 30px;
    margin-bottom: 30px;
    color: #EFC900;
    font-size: 20px;
    font-weight: 600;
}
.mainTextSec .mainText p {
    margin-bottom: 6px;
}
/* 메인버튼 */
.mainBtnSec .loginBtn{
    width: 600px;
    height: 60px;
    font-size: 25px;
    font-weight: 500;
    padding-top: ;
    text-align: center;
    vertical-align: middle;
}
