<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로필 생성</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
    <h3>프로필 생성</h3>
    <form th:action="@{/profile/create.do}" method="post" enctype="multipart/form-data" id="profileForm" onsubmit="return checkDuplicate()">
        <div class="col-5">
            <div class="mb-3">
                <label for="ex_file" style="background-image: url(./Z-BG-IMAGE/default.png);"></label>
                <input type="file" name="tmpfile" accept="image/*"/><br />
            </div>
            <div class="mb-3">
                <input type="text" name="nickname" id="nickname" placeholder="닉네임" required><br />
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">관심 키워드</label>
                <select class="form-select SearchSLC" name="keyword" id="keyword">
                    <option value="애니">애니</option>
                    <option value="액션">액션</option>
                    <option value="범죄">범죄</option>
                    <option value="멜로">멜로</option>
                    <option value="SF">SF</option>
                    <option value="판타지">판타지</option>
                    <option value="코미디">코미디</option>
                    <option value="로멘스">로멘스</option>
                    <option value="버라이어티">버라이어티</option>
                </select> 
            </div>
            <button type="submit">프로필 생성</button>
        </div>
    </form>
</body>
</html>