<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a th:href="@{/mypage/mypage.do}"><button>뒤로가기</button></a>
    <h3>암호 생성</h3>
    <form method="POST" th:action="@{/mypage/createpw.do}" onsubmit="return onsubmitForm()">
        암호 : <input type="password" name="profilepw" id="profilepw" placeholder="암호"/><br />
        암호 확인 : <input type="password" name="profilepw1"id="profilepw1" placeholder="암호 확인"/><br />
        <input type="submit" value="암호생성" />
    </form> 

    <script>
        function onsubmitForm() {
            var profilepw = document.getElementById("profilepw").value;
            var profilepw1 = document.getElementById("profilepw1").value;

            if ( profilepw !== profilepw1) {
                alert('암호가 일치하지 않습니다');
                return false;
            }

            if ( profilepw.length == 0) {
                alert('암호를 입력해주세요');
                return false;
            }

            alert('암호를 등록하였습니다');
            return true;
        }
    </script>
</body>
</html>