<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>프로필 삭제</h3>
    <form th:action="@{/mypage/delete.do}" method="post">
        닉네임: <input type="text" name="nickname" th:value="${session.nickname}" placeholder="nickname"readonly/><br />
        암호: <input type="password" name="profilepw" placeholder="암호" required/><br />
        <input type="submit" value="삭제">

        <script th:if="${error}">
            alert("암호가 일치하지 않습니다."); // 알림창에 알림 메시지 표시
        </script>
    </form>
    <a th:href="@{/mypage/updatenickname.do}"><button>돌아가기</button></a>

</body>
</html>