<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form th:action="@{/profileimg/insertimg.do}" method="POST" enctype="multipart/form-data">
        프로필 번호 : <input type="text" name="profileno" th:value="${profileno}">
        첨부할 이미지 : <input type="file"name="tmpfile" accept="image/*"><br />
        <input type="submit" value="Upload">
      </form>
</body>
</html>