<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>프로필 생성</h3>
    <form th:action="@{/profile/join.do}" method="post">
        <div class="col-5">
            <div class="mb-3">
                <!-- <input type="hidden" name="id" value="${session.memberId}"> -->
                <input type="text" name="id" placeholder="아이디"><br />
                <label for="exampleFormControlInput1" class="form-label">프로필 닉네임</label>
                <input type="nickname" name="nickname" class="form-control" id="exampleFormControlInput1" placeholder="닉네임">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">관심 키워드</label>
                <select class="form-select SearchSLC" name="keyword" id="keyword">
                    <option id="op" value="애니">애니</option>
                    <option id="op" value="액션">액션</option>
                    <option id="op" value="범죄">범죄</option>
                    <option id="op" value="멜로">멜로</option>
                    <option id="op" value="SF">SF</option>
                    <option id="op" value="판타지">판타지</option>
                    <option id="op" value="코미디">코미디</option>
                    <option id="op" value="로멘스">로멘스</option>
                    <option id="op" value="버라이어티">버라이어티</option>
                </select>
            </div>
        </div>
        <!-- <input type="text" name="id" value="123@123.com" readonly /><br />
        <input type="text" name="nickname" placeholder="닉네임"/><br />
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">관심 키워드</label>
            <select class="form-select SearchSLC " name="keyword" id="keyword">
                <option id="op" value="애니">애니</option>
                <option id="op" value="액션">액션</option>
                <option id="op" value="범죄">범죄</option>
                <option id="op" value="멜로">멜로</option>
                <option id="op" value="SF">SF</option>
                <option id="op" value="판타지">판타지</option>
                <option id="op" value="코미디">코미디</option>
                <option id="op" value="로멘스">로멘스</option>
                <option id="op" value="버라이어티">버라이어티</option>
            </select> 
        </div> -->
        <input type="submit" value="생성">
    </form>
</body>
</html>