<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>프로필 선택</h1>
    <form method="post" th:action="@{/profile/login.do}" id="form">
        <label for="nickname">닉네임 :</label>
        <input type="text" id="nickname" name="nickname" th:value="${nickname}" readonly required>
        <br>
        <label for="profilepw">암호 :</label>
        <input type="password" id="profilepw" name="profilepw">
        <br>
        <button type="button" th:onclick="checkProfilepw()">접속</button>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script th:inline="javascript">

        async function checkProfilepw() {
            const nickname = document.getElementById('nickname').value;
            const profilepw = document.getElementById('profilepw').value;
            // http://127.0.0.1:9090/streampark/api/profile/profilepw.do?nickname=nickname&profilepw=1

            let url = /*[[@{/api/profile/profilepw.do}]]*/"";

            url += "?nickname=" + nickname + "&profilepw=" + profilepw
            console.log(url);

            const headers = {"Content-Type":"application/json"};
            const { data } = await axios.get(url, { headers:headers });

            if(data.result === 1){
                document.getElementById('form').submit();
            }
            else if(data.result === 0){
                alert("암호가 일치하지 않습니다.");
            }
            else{
                alert(data.message);
            }
        }
    </script>
    
</body>
</html>