<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로필 생성</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
    <h3>프로필 생성</h3>
    <form th:action="@{/profile/create.do}" method="post" id="form">
        <div class="col-5">
            <div class="mb-3">
                <input type="text" name="nickname" id="nickname" placeholder="닉네임" required><br />
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">관심 키워드</label>
                <select class="form-select SearchSLC" name="keyword" id="keyword">
                    <option value="애니">애니</option>
                    <option value="액션">액션</option>
                    <option value="범죄">범죄</option>
                    <option value="멜로">멜로</option>
                    <option value="SF">SF</option>
                    <option value="판타지">판타지</option>
                    <option value="코미디">코미디</option>
                    <option value="로멘스">로멘스</option>
                    <option value="버라이어티">버라이어티</option>
                </select> 
            </div>
            <button type="button" th:onclick="checkNickname()">프로필 생성</button>
            
        </div>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script th:inline="javascript">

        async function checkNickname() {
            const nickname = document.getElementById('nickname').value;
            // http://127.0.0.1:9090/streampark/api/profile/nickname.do?nickname=12

            let url = /*[[@{/api/profile/nickname.do}]]*/"";

            url += "?nickname=" + nickname;
            console.log(url);

            const headers = {"Content-Type":"application/json"};
            const { data } = await axios.get(url, { headers:headers });

            if(data.result === 1){
                alert("프로필이 생성되었습니다.");
                document.getElementById('form').submit();
            }
            else if(data.result === 2){
                alert("닉네임을 입력해주세요.");
            }
            else if(data.result === 0){
                alert("중복된 닉네임입니다. 다른 닉네임을 사용해주세요.");
            }
            else{
                alert(data.message);
            }
        }
    </script>
</body>
</html>