<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <a th:href="@{/mypage/updatenickname.do}"><button>닉네임 변경</button></a>
    
    <h3>프로필 이미지</h3>

    <img th:src="@{/mypage/profileimage(profileno=${profileno})}" alt="" style="height: 150px; width: 150px; border-radius: 50%; overflow: hidden;">



    <hr>
    이미지 등록
    <form th:action="@{/mypage/profileimg.do}" method="post" enctype="multipart/form-data" id="form">        
        <input type="text" name="profileno" id="profileno" th:value="${session.profileno}" readonly>
        <input type="file" name="tmpfile" accept="image/*" onchange="setFileName(event)"><br>
        <input type="text" name="chk" id="chk" readonly>
        <button type="button" onclick="imgchk()">이미지 업로드</button>
    </form>
    
    <form th:action="@{/mypage/deleteprofileimg.do}" method="post" enctype="multipart/form-data">
        <button onclick="confirmDelete(event)">이미지 삭제</button>
    </form>
        
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script th:inline="javascript">
        function setFileName(event) {
            const fileName = event.target.files[0].name;
            document.getElementById('chk').value = fileName;
        }

        async function imgchk(){
            const chk = document.getElementById('chk').value;
            let url = /*[[@{/api/profile/imgchk.do}]]*/"";
            url +="?chk=" + chk;
            console.log(url);

            const headers = {"Content-Type":"application/json"};
            const { data } = await axios.get(url, { headers:headers });

            if(data.result === 1){
                // 이미지 등록
                document.getElementById('form').submit();
            }
            else if(data.result === 0){
                alert("이미지를 선택해주세요.");
            }
        }

        function confirmUpload() {
            return confirm("이미지를 등록하시겠습니까?");
            alert("이미지가 등록되었습니다.");
        }

        function confirmDelete(event) {
            event.preventDefault(); // 기본 동작(폼 제출)을 중지

            if (confirm("이미지를 삭제하시겠습니까?")) {
                // 확인 버튼을 눌렀을 때 수행할 동작을 여기에 작성
                event.target.closest('form').submit(); // 현재 폼 제출
            }
            // 취소 버튼을 눌렀을 때 아무 동작도 하지 않음
        }
    </script>

</body>
</html>
