<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Document</title>
</head>
<body>
    <h3>Review(All)</h3>
    <a th:href="@{/watchlist/selectlist.do}"><button type="button">시청 목록</button></a>
    <button type="button" th:onclick="likesmanysort([[${list[0].likes}]])">좋아요 순으로 정렬하기</button></a>
    <form th:action="@{/review/selectlist.do}" method="post" id="form">
        <table border="1">
            <thead>
                <tr>
                    <th>리뷰번호</th>
                    <th>작성자 번호</th>
                    <th>작품명</th>
                    <th>리뷰내용</th>
                    <th>좋아요</th>
                    <th>신고</th>
                    <th>등록일</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="obj : ${list}">
                    <td th:text="${obj.review_no.longValue()}"></td>
                    <td th:text="${obj.profileno}"></td>
                    <td th:text="${obj.watchlist.videolist.title}"></td>
                    <td th:text="${obj.content}"></td>
                    <td th:text="${obj.likes}"></td>
                    <td th:text="${obj.reportcnt}"></td>
                    <td th:text="${obj.regdate}"></td>
                    <td>
                        <span th:if="${obj.profileno} == '6'">
                            <a th:href="@{/review/update.do(review_no=${obj.review_no}, profileno=${obj.profileno})}"><button type="button">수정</button></a>
                            <button type="button" th:onclick="deleteAction([[${obj.review_no}]], [[${obj.profileno}]])">삭제</button>
                        </span>
                        <button type="button" id="likebtn" th:onclick="likespluscnt([[${obj.review_no}]], [[${obj.profileno}]])">좋아요</button>
                        <button type="button" th:onclick="reportpluscnt([[${obj.review_no}]], [[${obj.profileno}]])">신고</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

    <form th:action="@{/review/delete.do}" method="post" id="form2" style="display:none">
        <input type="hidden" name="review_no" id="hidden_review_no" />
        <input type="hidden" name="profileno" id="hidden_profileno" />
    </form>

    <form th:action="@{/review/update.do}" method="get" id="form3" style="display:none">
        <input type="hidden" name="review_no" id="hidden_review_no" />
        <input type="hidden" name="profileno" id="hidden_profileno" />
    </form>

    <form th:action="@{/review/selectlistorderbylikes.do}" method="get" id="form4" style="display:none">
        <input type="hidden" name="likes" id="hidden_likes" />
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.5/axios.min.js"></script>
    <script th:inline="javascript">
        function deleteAction(review_no, profileno) {
            if(confirm('삭제할까요?')) {
                document.getElementById('hidden_review_no').value = review_no;
                document.getElementById('hidden_profileno').value = profileno;
                document.getElementById('form2').submit();
            }
        }

        function updateAction(review_no,profileno) {
            document.getElementById('hidden_review_no').value = review_no;
            document.getElementById('hidden_profileno').value = profileno;
            document.getElementById('form3').submit();
        }

        async function likespluscnt(review_no, profileno) {
            console.log(review_no, profileno);
            const url = /*[[@{/api/review/likesplus.json}]]*/"";
            console.log(url);
            const body = {no : review_no, pno : profileno};
            const headers = {"Content-Type":"application/json"};
            const {data} = await axios.put(url, body, {headers:headers});
            console.log('반환되는 결과', data);

            if(data.status === 1) {
                window.location.reload();
            }
            else {
                alert("이미 좋아요를 누르셨습니다");
            }
           
        }

        async function reportpluscnt(review_no, profileno) {
            console.log(review_no, profileno);
            const url = /*[[@{/api/review/reportplus.json}]]*/"";
            console.log(url);
            const body = {no : review_no, pno : profileno};
            const headers = {"Content-Type":"application/json"};
            const {data} = await axios.put(url, body, {headers:headers});
            console.log('반환되는 결과', data);

            if(data.status === 1) {
                window.location.reload();
            }
            else {
                alert();
            }
           
        }

        async function likesmanysort(likes) {
            document.getElementById('hidden_likes').value = likes;
            document.getElementById('form4').submit();
            // console.log(likes);
            // const url = /*[[@{/api/review/likesmanysort.json(likes=likes)}]]*/"";
            // console.log(url);
            // const headers = {"Content-Type":"application/json"};
            // const {data} = await axios.get(url, {headers:headers});
            // console.log('반환되는 결과', data);

            // if(data.status === 1) {
            //     window.location.reload();
            // }
            // else {
            //     alert();
            // }
        }

      
    </script>
</body>
</html>