<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문의글수정</title>

</head>

<body>
    <div>
        <h3>문의글수정</h3>
        <form th:action="@{/qna/update.do}" method="post">
            <input type="hidden" name="no" th:value="${board.no}" readonly><br/>
            <input type="hidden" name="profileno" th:value="${board.profileno}"><br/>
            <input type="text" name="title" th:value="${board.title}"><br />
            <div id="content_div">
                <textarea class="form-control" type="text" style="height:100%; width:100%;" maxlength='1000' id="QnAcontent"
                    name="content" th:text="${board.content}"></textarea>
            </div><br />
            <input type="text" th:value="${board.regdate}" readonly><br />
            <input type="submit" value="수정">
            <button type="button" th:onclick="|location.href='@{/qna/selectone.do(no=${board.no})}'|">돌아가기</button>
        </form>

    </div>
</body>

</html>